apiVersion: v1
kind: Service
metadata:
  name: lakebench-unity
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/managed-by: lakebench
spec:
  selector:
    app: lakebench-unity
  ports:
    - port: {{ unity_port }}
      targetPort: {{ unity_port }}
      protocol: TCP
