---
# S3 Credentials Secret
# Labeled for Stackable SecretClass discovery
apiVersion: v1
kind: Secret
metadata:
  name: lakebench-s3-credentials
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: lakebench
    app.kubernetes.io/instance: {{ name }}
    app.kubernetes.io/component: s3
    app.kubernetes.io/managed-by: lakebench
    # Stackable SecretClass label - allows Hive operator to find credentials
    secrets.stackable.tech/class: lakebench-s3-credentials-class
type: Opaque
stringData:
  accessKey: "{{ s3_access_key }}"
  secretKey: "{{ s3_secret_key }}"
---
# PostgreSQL Credentials Secret
apiVersion: v1
kind: Secret
metadata:
  name: lakebench-postgres-secret
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: lakebench
    app.kubernetes.io/instance: {{ name }}
    app.kubernetes.io/component: postgres
    app.kubernetes.io/managed-by: lakebench
type: Opaque
stringData:
  username: "{{ postgres_user | default('hive') }}"
  password: "{{ postgres_password | default('lakebench-hive-2024') }}"
  database: "{{ postgres_database | default('hive') }}"
