apiVersion: v1
kind: Service
metadata:
  name: lakebench-spark-thrift
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: lakebench
    app.kubernetes.io/component: spark-thrift-server
    app.kubernetes.io/managed-by: lakebench
spec:
  type: ClusterIP
  ports:
    - name: thrift
      port: 10000
      targetPort: 10000
      protocol: TCP
  selector:
    app.kubernetes.io/component: spark-thrift-server
