---
# Bind lakebench-spark-runner role to lakebench-spark-runner service account
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: lakebench-spark-runner
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: lakebench
    app.kubernetes.io/instance: {{ name }}
    app.kubernetes.io/component: spark
    app.kubernetes.io/managed-by: lakebench
subjects:
  - kind: ServiceAccount
    name: lakebench-spark-runner
    namespace: {{ namespace }}
roleRef:
  kind: Role
  name: lakebench-spark-runner
  apiGroup: rbac.authorization.k8s.io
