---
# ServiceAccount for Spark driver to create executor pods
apiVersion: v1
kind: ServiceAccount
metadata:
  name: lakebench-spark-runner
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: lakebench
    app.kubernetes.io/instance: {{ name }}
    app.kubernetes.io/component: spark
    app.kubernetes.io/managed-by: lakebench
