---
# PostgreSQL ServiceAccount
apiVersion: v1
kind: ServiceAccount
metadata:
  name: lakebench-postgres
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: lakebench
    app.kubernetes.io/instance: {{ name }}
    app.kubernetes.io/component: postgres
    app.kubernetes.io/managed-by: lakebench
