---
# Stackable SecretClass for S3 credentials
# Allows Stackable operators to find S3 credentials from labeled secrets
apiVersion: secrets.stackable.tech/v1alpha1
kind: SecretClass
metadata:
  name: lakebench-s3-credentials-class
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: lakebench
    app.kubernetes.io/instance: {{ name }}
    app.kubernetes.io/component: s3
    app.kubernetes.io/managed-by: lakebench
spec:
  backend:
    k8sSearch:
      searchNamespace:
        pod: {}
